.idea
__pycache__
checkpoints/cs4487_proj/train
checkpoints/cs4487_proj/val
checkpoints/cs4487_proj/*.pth
data_deepfake
docs
examples
networks
options
weights
demo.py
demo_dir.py
earlystop.py
eval.py
eval_config.py
*.pth
LICENSE.txt
train.py
util.py
validate.py