.idea
__pycache__
checkpoints/cs4487_proj/train
checkpoints/cs4487_proj/val
checkpoints/cs4487_proj/*.pth
CNNDetection/data_deepfake
data
dataset
data.zip
docs
CNNDetection/data
CNNDetection/examples
CNNDetection/networks
CNNDetection/options
CNNDetection/weights
CNNDetection/demo.py
CNNDetection/demo_dir.py
CNNDetection/earlystop.py
CNNDetection/eval.py
CNNDetection/eval_config.py
*.pth
CNNDetection/LICENSE.txt
CNNDetection/train.py
CNNDetection/util.py
CNNDetection/validate.py
CNNDetection/dataset
test.txt
train.txt
val.txt